body.login {
	background: #f0f0f0;
	min-height: 100%;
	height: auto;
	
	background-image: url('../images/loginbody.jpg');
	background-repeat: 		no-repeat;
	background-position: 	center bottom;
    background-size: 		cover;
    background-attachment: fixed;
}

body.login div#login {
	padding: 60px 0 20px 0;
}

body.login a,
body.login div#login p#nav a {
	color: #183578;
	text-decoration: none;
	
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	     -o-transition: all 300ms ease;
	     	transition: all 300ms ease;
}

body.login a:focus,
body.login div#login p#nav a:focus {
	box-shadow: 0 0 0 rgba(0,0,0,0);
	color: #3c64a9;
}

body.login a:hover,
body.login div#login p#nav a:hover {
	color: #3c64a9;
}

body.login div#login h1 {
	
}

body.login div#login h1 a {
	background: transparent url('../images/logo.png') no-repeat center top;
	width: 320px;
	height: 100px;
	background-size: 100% auto;
	background-size: contain;
}

body.login #login_error, 
body.login .message, 
body.login .success {
	background: #183578;
	border: 1px solid #183578;
	color: #fff;
	text-align:center;
	
	-webkit-border-radius: 3px;
			border-radius: 3px;
			
			box-shadow: 0 10px 20px -10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 10px 20px -10px rgba(0,0,0,0.5);
}

body.login div#login form#loginform {
	-webkit-border-radius: 3px;
			border-radius: 3px;
	
	margin-top: 40px;
	padding: 26px 24px 26px;
	border-color: transparent;
	
			box-shadow: 0 20px 40px -20px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 20px 40px -20px rgba(0,0,0,0.5);
}

body.login div#login form#loginform p {
	
}

body.login div#login form#loginform p label {
	
}

body.login div#login form#loginform input {
	border-color: #bdbfbe;
}

body.login div#login form#loginform input:focus {
	border-color: #3c64a9;
    box-shadow: 0 0 0 rgba(0,0,0,0);
}

body.login div#login form#loginform input#user_login,
body.login div#login form#loginform input#user_pass { 
	font-size: 15px;
	padding: 8px;
 }

body.login div#login form#loginform input#user_login {
	
}

body.login div#login form#loginform .button {
	color: #183578;
	font-weight: bold;
	
	-webkit-transition: all 300ms ease;
	   -moz-transition: all 300ms ease;
	    -ms-transition: all 300ms ease;
	     -o-transition: all 300ms ease;
	     	transition: all 300ms ease;
}

body.login div#login form#loginform input#user_pass {
	
}

body.login div#login form#loginform p.forgetmenot {
	margin-bottom: 10px;
}

body.login div#login form#loginform p.forgetmenot input#rememberme {
	
}

body.login div#login form#loginform p.submit {
	display: block;
	clear: both;
}

body.login div#login form#loginform p.submit input#wp-submit {
	
}

body.login div#login form#loginform p.submit .button {
	padding: 3px 24px;
	margin-top: 5px;
}

body.login div#login form#loginform p.submit .button {
	background: #183578;	
	border: 1px solid #183578;
	color: #fff;
}

body.login div#login form#loginform p.submit .button:focus,
body.login div#login form#loginform p.submit .button:hover {
	background: #3c64a9;	
	border: 1px solid #3c64a9;
}

body.login div#login p#nav {
	text-align: center;
	margin: 40px auto 10px auto;
	
}

body.login div#login p#nav a {
	
}

body.login div#login p#backtoblog {
	display: none;
}

body.login div#login p#backtoblog a {
	
}

body.login div#loginfooter {
	width: 320px;
	margin: 0 auto 40px auto;
	text-align: center;
}

body.login div#loginfooter,
body.login div#loginfooter a,
body.login div#login p#nav a {
	color: #fff;
	
	text-shadow: 0 0 5px #000000;
}

body.login div#loginfooter a,
body.login div#login p#nav a {
	color: #fff;
	opacity: 0.5;
}

body.login div#loginfooter a:hover,
body.login div#login p#nav a:hover,
body.login div#loginfooter a:focus,
body.login div#login p#nav a:focus {
	color: #fff;
	opacity: 1;
}

